[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "OCASI/vendor/spdlog"]
	path = OCASI/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OCASI/vendor/glm"]
	path = OCASI/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OCASI/vendor/glaze"]
	path = OCASI/vendor/glaze
	url = https://github.com/stephenberry/glaze.git
